.modal-card {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

.modal-content {
    overflow: hidden;
}

.modal-background {
    background-image: url(../../../../media/animations/confetti.svg);
}
