@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400&family=Cormorant&family=Goblin+One&family=Playfair+Display&display=swap');

.has-font-bioRhyme {
    font-family: 'BioRhyme', serif;
}

.has-font-cormorant {
    font-family: 'Cormorant', serif;
}

.has-font-playfairDisplay {
    font-family: 'Playfair Display', serif;
}

.has-font-goblinOne {
    font-family: 'Goblin One', cursive;
}
